.App {
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto, arial, sans-serif;
  font-family: 'Dancing Script', cursive !important;
}


.container-fluid{
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.my-container {
  position: relative;
  width: 100%;
}
.navigation {
  color: white;
  position: fixed;
  width: 260px;
  height: 100%;
  background-color: #003147;
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 60px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  cursor: pointer;
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li a span h5 {
  margin-top: 15px;
}

.navigation ul li:hover {
  border: 1px solid #1a237e;
  background: #32a8e3;
  color: #000;
  box-shadow: 7px 7px #1a237e;
  border-radius: 5px;
  transition: ease 0.3s;
}
.active-button {
  border: 1px solid #1a237e;
  background: #32a8e3;
  color: #000;
  box-shadow: 7px 7px #1a237e;
  border-radius: 5px;
}
.navigation ul li:nth-child(1) {
  margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover {
  background: transparent;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 40px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .fa {
  color: #fff;
  font-size: 24px;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}
.main {
  position: absolute;
  width: calc(100% - 260px);
  left: 260px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;
  /* background-color: #003147; */
}
.main.active {
  width: calc(100% - 60px);
  left: 60px;
}
.main .topbar {
  width: 100%;
  background: #fff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.toggle::before {
  content: "<i class=" fa fa-bars " aria-hidden=" true "></i>";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.search label .fa {
  position: absolute;
  left: 15px;
  top: 12px;
}
.user {
  position: relative;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  /* display: flex;
    justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cardBox .card1 {
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.cardBox .card1 .numbers {
  position: relative;
  font-size: 2em;
  font-weight: 500;
}
.cardBox .card1 .cardName {
  color: #999;
}
.cardBox .card1 .iconbox {
  font-size: 2.5rem;
  color: #03a9f4;
}
.detail.admin {
  position: relative;
  background: #f5f5f5;
  color: #000;
  width: 100%;
  padding: 20px;
}
.detail.admin .recentOrders {
  position: relative;
  /* display: grid; */
  min-height: 530px;
  background: #fff;
  padding: 20px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h5 {
  font-weight: 600;
}
.button {
  position: relative;
  padding: 5px 10px;
  background: #03a9f4;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
.detail table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.detail table thead td {
  font-weight: 600;
}
.detail .recentOrders table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.detail .recentOrders table tr:last-child {
  border-bottom: none;
}
.detail .recentOrders table tbody tr:hover {
  background-color: #03a9f4;
  color: #fff;
}
.detail .recentOrders table thead tr td:last-child,
.detail .recentOrders table tbody tr td:last-child {
  text-align: right;
}
.detail .recentOrders table tr td {
  padding: 9px 5px;
}
.detail .recentOrders table tr {
  height: 15px;
}
.action {
  position: relative;
  padding: 2px 4px;
  background: red;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
}
.detail .recentCustomer {
  position: relative;
  min-height: 530px;
  background: #fff;
  margin: 0 20px;
  padding: 20px;
}
.detail .recentCustomer .imgBox {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.detail .recentCustomer .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail .recentCustomer table tr:hover {
  background: #03a9f4;
  color: #fff;
}
.detail .recentCustomer table {
  padding: 5px;
}

.button {
  border: 1px solid #1a237e;
  background: #32a8e3;
  padding: 5px 30px 5px 10px;
  color: #000;
  display: inline-block;
  margin: 10px;
  font-size: 22px;
  box-shadow: 7px 7px #1a237e;
  text-transform: uppercase;
  border-radius: 5px;
}
.content {
  border-radius: 5px;
  margin: 0;
  color: #000;
  background: #32a8e3;
  color: #fff;
  padding: 10px;
  margin-left: 15px;
  box-shadow: 7px 7px 1px #1a237e;
}
